* {
    box-sizing: border-box;
}

html {
    font-family: 'Sniglet', 'Arial', sans-serif;
    background: url("images/tile2.webp") repeat;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}


/* //////////// responsive layout /////////// */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    align-items: start;
}

.column {
    flex: 1;
    min-width: 300px;
}

.offset-col {
    transform: translateY(-30px);
}

@media (max-width: 600px) {
    .column {
        margin-top: -60px;
    }

    .offset-col {
        transform: none;
    }
}


/* //////////// main content containers /////////// */
header,
section {
    margin: 60px 20px;
    box-shadow: 2px 2px 5px rgba(99, 66, 66, 0.3);
}

header {
    width: 92%;
    max-width: 700px;
    margin: 20px auto;
    border-radius: 30px;
    overflow: hidden;
}

section {
    padding: 20px;
    background-color: #fae9e8;
}

header img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    header {
        margin: 60px auto;
    }
}


/* //////////// text /////////// */
h1 {
    color: #ffffff;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
}

p a {
    color: #fc6b88;
}

strong {
    color: #fc6b88;
    font-weight: normal;
    font-size: 1.6em;
}

small {
    display: block;
    margin: 20px 0;
}

.title {
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(#fdb1c2, #fc6b88);
    padding: 7px 15px;
    width: fit-content;
    border-radius: 25px;
}

.title .icon {
    height: 25px;
}


/* //////////// buttons /////////// */
button {
    border: none;
    cursor: pointer;
    font-family: 'Sniglet', 'Arial', sans-serif;
    font-size: 1em;
}

.join-button-container {
    display: flex;
    justify-content: center;
}

.join-button {
    margin: 20px auto 0;
    display: inline-flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    flex-wrap: nowrap;
}

.join-button .arrow {
    height: 30px;
}

.link-btn {
    display: block;
    margin: 10px auto;
    gap: 10px;
    background: linear-gradient(#89b7da, #6b8dfc);
    padding: 7px 15px;
    border-radius: 25px;
    width: fit-content;
    color: #ffffff;
    text-decoration: none;
    transition: ease .3s;
    text-wrap: nowrap;
}

.link-btn:hover {
    transform: scale(1.2);
}

.back-button {
    position: fixed;
    margin: 0;
    top: 10px;
    left: 10px;
}

.exploder {
    margin-bottom: 40px;
    padding: 20px;
}

#load-ig-btn {
    position: relative;
    margin: 0 auto;
    top: 200px;
    border: white solid 1.5px;
}


/* //////////// instagram feed /////////// */
.ig-container {
    width: 100%;
    overflow: hidden;
}

.ig-placeholder {
    height: 300px;
    width: 300px;
    margin: -15px auto 20px auto;
    display: block;
}


/* //////////// mascot /////////// */
@keyframes jumping {
    from {
        transform: scale(40%);
        bottom: -50px;
    }

    to {
        transform: scale(50%);
        bottom: 30px;
    }
}

.mascot {
    position: fixed;
    right: -50px;
    animation: jumping .5s ease infinite alternate;
}

.mascot img {
    display: block;
    width: 240px;
    height: auto;
}


/* //////////// misc /////////// */
video {
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(99, 66, 66, 0.3);
}

.tape-border {
    border-style: solid;
    border-width: 10px;
    border-image-source: url("images/tape\ border.webp");
    border-image-slice: 27%;
    border-image-repeat: round;
    border-image-width: 8;
    border-image-outset: 20px;
    opacity: 1;
}